/* Archive Columns: customize set their width */
.column-image {
  width: 120px;
}

.archive-img {
  max-height: 90px;
  max-width: 100px;
  width: auto;
  height: auto;
}

.column-taxonomy-category {
  width: 200px;
}

.link-icon {
  display: block;

  &::after {
    content: "→";
  }

  font-size: 30px;
  font-weight: 200;
  line-height: 1;
  text-decoration: none;
  color: #000;
  margin-left: -2px;
}

.sign-icon {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #333;

  &.green {
    border-color: #0d0;
    background-color: #0d0;
  }

  &.red {
    border-color: #f00;
    background-color: #f00;
  }
}
