.DS_Store
/wp.php
/html/sitemap.xml

# Our assets symlink
html/assets
html/@fs

# WP
/html/wp/*
!/html/wp/wp-config.php

# Plugins
/html/app/plugins/*
!/html/app/plugins/.gitkeep

# Uploads
/html/app/uploads/*
!/html/app/uploads/.gitkeep

# Vendor
/app/themes/boilerplate/vendor/*
