.DS_Store
/wp.php

# Our assets symlink
public/assets
public/@fs

# WP
/public/wp/*
!/public/wp/wp-config.php

# Plugins
/public/app/plugins/*
!/public/app/plugins/.gitkeep

# Uploads
/public/app/uploads/*
!/public/app/uploads/.gitkeep

# Vendor
/themes/boilerplate/vendor/*
