//
//
// Custom Color Scheme

// source from http://wordpress.org/plugins/admin-color-schemes/
// for all available variables see: admin-color-schemes/_variables.scss

// core variables
$text-color: #666;
$base-color: #fff;
$icon-color: #666;
$highlight-color: #000;

// global
// $body-background: #f1f1f1 !default;
$link: #000;
$link-focus: #999;
$button-color: #000;
$button-text-color: #fff;
$form-checked: #333;

// admin menu & admin-bar
$menu-highlight-text: #fff;
$menu-highlight-icon: #fff;
$menu-highlight-background: #000;
$menu-submenu-focus-text: #666;
$menu-submenu-background: #f6f6f6;

$menu-bubble-text: #fff;
$menu-bubble-background: #000;
$menu-bubble-current-text: #fff;
$menu-bubble-current-background: #000;

//
//
// Add the scheme
@import "./admin-color-schemes/admin";

//
//
// More customizations
.wrap .page-title-action {
    text-shadow: none !important;
    background-color: #fff;
    border-color: #aaa;
    color: #444 !important;
    box-shadow: none;

    &:hover,
    &:focus {
        box-shadow: none !important;
        background-color: #fafafa !important;
        border-color: #666;
    }
}

.view-switch a.current:before {
    color: #444;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
    border-color: #111;
    box-shadow: none;
}
