/* WP Login Page */
#login h1 a {
  background-image: url("../../assets/login-logo.png") !important;
  background-size: 274px 63px !important;
  width: auto;
  margin: 0;
  padding: 0;
}
#loginform {
  margin: 0;
}
