/* Our custom Dashboard */

#dashboard {
  padding-top: 30px;

  & .help {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .help-block {
      @media (min-width: 600px) {
        width: calc(50% - 20px);
      }
      break-inside: avoid;
      box-sizing: border-box;
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 10px 20px;
      background-color: #fff;
    }
  }
  & .title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 5px 0 2px 0;
  }

  & ul {
    margin: 0;
    padding: 10px 0 0 0;
  }
  & li {
    margin: 0;
    padding: 2px 0 0 16px;
    text-indent: -16px;
    text-align: left;
    &:before {
      content: "\2014 \0020";
    }
  }
}
